<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gimi.launcher"
    android:versionCode="4"
    android:versionName="1.2.0">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="36" />

    <!-- Storage permissions for scanning /sdcard/GIMI/Mods/ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Query packages permission for detecting installed Genshin Impact variants -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <queries>
        <package android:name="com.miHoYo.GenshinImpact" />
        <package android:name="com.miHoYo.GI.samsung" />
        <package android:name="com.yuanshen.site" />
        <package android:name="com.miHoYo.ys.bilibili" />
        <package android:name="moe.shizuku.privileged.api" />
        <package android:name="moe.shizuku.manager" />
    </queries>

    <!-- WRITE_SECURE_SETTINGS for Vulkan debug layer injection via Settings.Global API.
         Must be granted via: adb shell pm grant com.gimi.launcher android.permission.WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />



    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_launcher"
        android:label="GIMI Launcher"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="GIMI Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.gimi.launcher.shizuku"
            android:exported="true"
            android:multiprocess="false" />

        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />
    </application>
</manifest>
